.cursor-point {
    cursor: pointer;
}

.list-style-none {
    list-style: none;
}

.border-width-lg {
    border-width: 7px!important;
}

.overflow-y-auto {
    overflow-y: auto;
}

.cursore-no-drop {
    cursor: no-drop;
}